body{
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
}
header{width: 100%;}
.center {
    width: 100%;
    max-width: 980px;
    min-width: 320px;
    margin: 0 auto;
    box-sizing: border-box;
}
.container{
    height: 120px;
}
/* ---- шрифт заголовков ----- */
.cart h2, 
nav ul li a, 
.slider-right button, 
.slider-right h2, 
.itm-title h2,
.itm-title button,
.prod-title .center h2,
.pro-price p,
.pro-price button,
.pro-itm h3,
.ftr-menu-itm h3
{ font-family: 'Bebas Neue'; }

/* ---- шапка ----- */
.header__top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: auto;
    padding: 20px 0;
}
.search {
    width: 100%;
    max-width: 430px;
    min-width: 300px;;
    height: 35px;
    background: #fff;
    border-radius: 6px;
    position: relative;
}
.search input {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border: 1px solid #e1e1e1;
    box-shadow: none;
    padding: 5px 10px;
    font-size: 20px;
    color: #707070;
}
.search i {
    font-size: 25px;
    color: #e3e3e3;
    position: absolute;
    top: 5px;
    right: 10px;
}
.search input:focus { 
    outline: none;
    box-shadow: inset 0px 0px 3px 1px #eee6e6bd;
}
.cart{
    width: 110px;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.cart h2{
    font-size: 32px;
    color: rgba(175,175,175,255);
}
/* ---- меню ----- */
nav{
    background: #4ccfc1;
    padding: 10px 0 10px 0;
    box-shadow: 0px 2px 2px 0px #30bcae;
}
nav ul {
    display: flex;
    list-style: none;
    justify-content: space-between;
    align-items: center;
    padding: 0;
}
nav ul li a {
    text-decoration: none;
    font-size: 21px;
    color: white;
    font-weight: bold;
    border-right: 2px solid white;
    padding-right: 20px;
}
nav ul li:last-child a { 
    border-right: none;
    padding-right: 0;
}

/* слайдер */
.slider, .prod-title, .footer-menu {
    background: url(img/bg1.png);
    width: 100%;
}
.slider .center {
    padding: 59px 5% 0 0;
    display: flex;
    align-items: flex-start;
    position: relative;
    justify-content: space-around;
    flex-wrap: wrap;
}
.slider-right{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    max-width: 400px;
}
.slider-right h2 {
    font-size: 61px;
    color: white;
    line-height: 0.9;
    margin: 17px 0 -9px 0;
}
.slider-right p {
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
    color: white;
    line-height: 1.7;
}
.slider-right button {
    border: 3px solid white;
    border-radius: 8px;
    max-width: 140px;
    height: 45px;
    line-height: 45px;
    color: #ffffff;
    background: none;
    font-size: 27px;
    font-weight: bold;
    outline: none;
    cursor: pointer;
    margin-top: 7px;
    transition: 1s background, .4s;
}
.slider-right button:hover { 
    background-color: #ffffff75;
    box-shadow: inset 0 0px 15px -2px #234c6d;
}
.slider-right button:active { 
    background: #ffffffad;
    color: #26a59c;
    border-color: #26a59c;
}
.slider-right ul{
    display: flex;
    max-width: 100px;
    color: white;
    font-size: 32px;
    justify-content: space-between;
    padding-left: 1em;
    margin-top: 35px;
}
.slider-right ul li:nth-child(4){ color: #77d3cb; }
.slider img {
    -webkit-filter: drop-shadow(5px 5px 5px #222);
    filter:         drop-shadow(5px 5px 5px rgba(34, 34, 34, 0.349));
}
/*---**********************---top-shop---***************************--- */
.top-shop{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.top-itm{
    flex: 1 0 calc(33% - 15px * 2/3);
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid #e7e7e7;
    box-sizing: border-box;
    padding-right: 7%;
    padding-top: 10px;
}
.top-itm:last-child{
    border-right: none;
    padding-right: 0;
}
.itm-title{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-left: 10%;
}
.itm-title {max-width: 75px;}
.itm-title h2{
    font-size: 27px;
    color: #afafaf;
    font-weight: bold;
}
.itm-title button, .pro-price button{
    background: #3cc395;
    font-weight: bold;
    color: white;
    font-size: 19px;
    border: none;
    outline: none;
    border-radius: 5px;
    height: 32px;
    line-height: 37px;
    padding: 0 14px;
    margin-left: -1em;
}
.itm-title button:hover, .pro-price button:hover{
    background: #4bf5bc;
    transition: .8s;
}
.itm-title button:active, .pro-price button:active{
    background: #d9fff2;
    color: #3cc395;
    box-sizing: border-box;
}
/*---**********************---products---***************************--- */
.prod-title{
    margin-top: 23px;
    box-shadow: inset 0 1px 4px 0px #2d968ad7;
}
.prod-title .center h2{
    color: white;
    margin: 21px 0 16px 1em;
    font-size: 31px;
    font-weight: bold;
}
.products{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 23px 0;
    width: 100%;
    max-width: 875px !important;
}
.pro-itm{
    flex: 1 0 30%;
    max-width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border: 1px solid #e4e4e4;
    border-bottom: 5px solid #3cc395;
    margin: 23px 5% 23px 0;
    padding: 21px 0 30px 0;
    box-sizing: border-box;
}
.pro-itm:nth-child(3n) {margin-right: 0;}
.pro-itm h3{
    color: #afafaf;
    font-size: 27px;
    margin: 12px 0;
    font-weight: bold;
}
.pro-price{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 0;
}
.pro-price p{
    color: #afafaf;
    font-size: 27px;
    font-weight: bold;
    margin: 0;
}
.pro-price button{ margin-left: .5em; }
/*---**********************---footer-menu---***************************--- */
.footer-menu{
    box-shadow: inset 0 1px 4px 0px #2d968ad7;
}
.footer-menu .center{
    max-width: 875px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 13px;
}
.ftr-menu-itm h3{
    color: white;
    font-size: 29px;
    font-weight: bold;
    margin: 30px 0 27px 0;
}
.ftr-menu-itm ul{
    list-style: none;
    padding: 0;
}
.ftr-menu-itm ul li{margin-bottom: .5em;}
.ftr-menu-itm ul li a{
    font-family: 'Open Sans', sans-serif;
    color: white;
    text-decoration: none;
    font-size: 15px;
}
.ftr-menu-itm ul li a:hover{ 
    text-decoration: underline; 
    font-weight: bold;
}
/*---**********************---footer---***************************--- */
footer{
    width: 100%;
    background: #2da89b;
    box-shadow: inset 0 1px 4px 0px #2d968ad7;
}
footer .center h4{
    color: white;
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    font-weight: normal;
}
/* Адаптивка */
@media screen and (max-width: 960px){
    nav ul li a {
        border-right: none;
        padding-right: 0;
    }
    .header__top{
        padding: 20px 10px;
        flex-wrap: wrap;
        justify-content: center;
    }
    nav {padding: 10px 10px;}
    .cart{
        align-items: baseline;
        margin: -10px 0 7px 0;
    }
    .search {margin: 0 10px;}
    .top-shop { flex-wrap: wrap; }
    .top-itm { 
        margin-top: 10px;
        border-right: none;
    }
    .top-itm:last-child {margin-top: 25px;}
    .footer-menu .center{padding: 13px 5%;}
}
@media screen and (max-width: 720px){
    nav ul {flex-wrap: wrap;}
    nav ul li a {font-size: 17px;}
    .slider .center {padding: 25px 0 0 0;}
    .slider-right ul{margin-bottom: 5%;}
    .pro-itm { flex: 1 0 45%;}
    .pro-itm:nth-child(odd) {margin: 23px 4%;}
    .pro-itm:nth-child(even) {margin: 23px 4% 23px 0;}
    .footer-menu .center{ 
        flex-wrap: wrap;
        padding: 13px 20%;
        justify-content: center;
    }
    .ftr-menu-itm {flex: 1 0 calc(50% - 15px / 2);}
}
@media screen and (max-width: 600px){
    .top-itm { margin-top: 25px;}
    .top-itm:first-child {margin-top: 10px;}
    .pro-itm { 
        flex: 1 0 100%; 
        margin: 23px 4% !important;
    }
    .products { justify-content: center; }
    .footer-menu .center{padding: 13px 10%;}
}
@media screen and (max-width: 540px){
    .header__top {
        flex-wrap: wrap;
        padding: 15px 10px;
        justify-content: center;
    }
    .search {margin: 10px 10px;}
    nav ul { 
        flex-flow: column wrap;
    }
    nav ul  li{ padding-bottom: 7px; }
    nav ul  li:last-child{ padding-bottom: 0; }
    nav ul li a {font-size: 21px;}
    .slider .center {padding: 25px 5% 0 5%;}
    .slider-right h2 {margin: 35px 0 -9px 0;}
    .top-shop { padding: 0 5%;}
    .ftr-menu-itm {flex: 1 0 100%;}
    .footer-menu .center{padding: 13px 20%;}
}
/* подключаем шрифты */
/* @font-face {
    font-family: 'Bebas Neue';
    src: url(img/bebas.TTF);
   } */
@font-face {
    font-family: 'Bebas Neue';
    src: local('Bebas Neue Thin'), local('BebasNeue-Thin'), url('font-aw/bebas/bebasneuethin.woff2') format('woff2'), url('font-aw/bebas/bebasneuethin.woff') format('woff'), url('font-aw/bebas/bebasneuethin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: 'Bebas Neue';
    src: local('Bebas Neue Light'), local('BebasNeue-Light'), url('font-aw/bebas/bebasneuelight.woff2') format('woff2'), url('font-aw/bebas/bebasneuelight.woff') format('woff'), url('font-aw/bebas/bebasneuelight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}
@font-face {
    font-family: 'Bebas Neue';
    src: local('Bebas Neue Book'), local('BebasNeueBook'), url('font-aw/bebas/bebasneuebook.woff2') format('woff2'), url('font-aw/bebas/bebasneuebook.woff') format('woff'), url('font-aw/bebas/bebasneuebook.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Bebas Neue';
    src: local('Bebas Neue Regular'), local('BebasNeueRegular'), url('font-aw/bebas/bebasneueregular.woff2') format('woff2'), url('font-aw/bebas/bebasneueregular.woff') format('woff'), url('font-aw/bebas/bebasneueregular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Bebas Neue';
    src: local('Bebas Neue Bold'), local('BebasNeueBold'), url('font-aw/bebas/bebasneuebold.woff2') format('woff2'), url('font-aw/bebas/bebasneuebold.woff') format('woff'), url('font-aw/bebas/bebasneuebold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}